<ion-header>
  <ion-navbar>
    <ion-title>
      Getik Ionic PoC
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>You've reached the end of the rabbit hole.</p>
  <button ion-button (click)="openVascoApp()">Open Vasco App</button>
  <button ion-button (click)="goHome()">Go home</button>

  <p *ngIf="token">Vasco App Token: {{token}}</p>
</ion-content>
