<ion-header>
  <ion-navbar>
    <ion-title>
      Getik Ionic PoC
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>You are facing a rabbit hole. What do you do?</p>
  <button ion-button (click)="goToOtherPage()">Go in the rabbit hole</button>
</ion-content>
