<ion-header>
  <ion-navbar>
    <ion-title>
      Getik Ionic PoC
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>You are 2 levels deep in the rabbit hole.</p>
  <button ion-button (click)="goToOtherPage()">Go deeper!</button>
</ion-content>
